@import "tailwindcss";

@plugin "tailwindcss-animate";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0f172b;
}

body {
  background-color: var(--background);
}
